body {
    font-family: Arial, Helvetica, sans-serif;
}

.top,
.footer {
    background-color: #1F2937;
	color: white;
}

ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 16px;
}

a {
	text-decoration: none;
	color: white;
    font-size: 18px;
}

.header,
.slogan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 352px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.slogan_content {
    width: 450px;
	padding: 56px 0px;
}

.hero {
    font-size: 48px;
    font-weight: bold;    
}

.hero_sec {
    font-size: 18px;
	margin: 8px 0px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    padding: 8px 16px;
    border-radius: 6px;
    border: 0;
}

.info_title {
	text-align : center;
	padding: 16px;
	font-size: 36px;
	font-weight: bold;
	color: #1F2937;
}

.info_content {
	display: flex;
	padding: 0px 352px;
	padding-bottom: 64px;
	justify-content: space-evenly;
}

.info_content1,
.info_content2,
.info_content3,
.info_content4 {
	text-align: center;
	font-size: 18px;
	color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
	padding: 64px 352px;
}

.quote_content {
	padding-top: 64px;
	font-size: 36px;
	font-weight: light italic;
	color: #1F2937;
	font-style: italic;

}

.quote_sign {
	text-align: right;
	font-size: 24px;
	font-weight: bold;
	padding: 0px 64px;
}

.sign_up {
	padding: 64px 352px;
}

.frame {
	background-color: #3882f6;
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 32px 64px;
	border-radius: 8px;
}

.frame_title {
	font-size: 24px;
	font-weight: bold;
}

.frame_subtext {
	font-size: 18px;
}

.frame_button {	
	border: 2px solid white;
}

.footer {
	text-align: center;
	padding: 32px 0;
}